<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body class="max-w-full h-[1000rem] dark:bg-teal-950 animate-munculkan">
    <div class="overflow-hidden max-w-lg">
      <span id="tombol" class="">
        <i class="far fa-eye"></i>
      </span>
      <div
        id="box-gambar"
        class="scale-0 w-1/2 bg-white shadow-lg rounded-md p-3 overflow-hidden box-border transition-all duration-150 ease-in-out absolute"
      >
        <img src="../pitriii.jpg" alt="" class="rounded-md" />
      </div>
    </div>
  </body>
  <script>
    const tombol = document.getElementById("tombol");
    const box_gambar = document.getElementById("box-gambar");

    tombol.addEventListener("mouseenter", function () {
      box_gambar.classList.replace("scale-0", "scale-100");
    });

    tombol.addEventListener("mouseleave", function () {
      setTimeout(function () {
        box_gambar.classList.replace("scale-100", "scale-0");
      }, 1000);
    });
  </script>
</html>
