<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/output.css">
    <link rel="stylesheet" href="../node_modules/aos/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="../node_modules/aos/dist/aos.js"></script>
    <title>wahyu portofolio</title>

    <!-- section navbar -->
    <div id="mainNavBar" name="mainNavBar" class="fixed top-0 w-full flex items-center z-50 transition-all duration-300 opacity-90 animate-munculkan">
        <div class="container max-w-full md:px-5">
            <div class="flex px-3 py-3 flex-row justify-between">
                <!-- nav title -->
                <div>
                    <span class="font-extrabold text-teal-600 dark:text-teal-300 text-lg order-1">WhyPrfl</span>
                </div>

                <!-- nav mode toggle -->
                <div class="flex flex-row gap-4 align-middle items-center order-3">
                    <span id="modeToggle">
                        <input type="checkbox" id="toggle" class="hidden">
                        <label for="toggle">
                            <div class="w-9 h-4 bg-slate-400 rounded-full box-border relative cursor-pointer">
                                <div id="switchToggle" name="switcher" class="absolute h-full aspect-square ring-1 ring-blue-300 rounded-full bg-white duration-150 transition-all"></div>
                            </div>
                        </label>
                    </span>

                    <!-- nav hamburger menu -->
                    <span id="hamburger-menu" class="cursor-pointer items-center flex justify-center flex-col align-middle md:hidden lg:hidden order-2">
                        <span id="hamburger-line" class="origin-top-left rounded-full hamburger"></span>
                        <span id="hamburger-line" class="rounded-full hamburger"></span>
                        <span id="hamburger-line" class="origin-bottom-left rounded-full hamburger"></span>
                    </span>
                </div>
                <div id="navBox" class="max-sm:absolute max-sm:right-1 max-sm:translate-y-10 max-sm:translate-x-48 max-sm:mx-2 max-sm:py-3 max-sm:pl-[0.5rem] max-sm:pr-10 max-sm:bg-white max-sm:shadow-sm max-sm:border max-sm:rounded-lg duration-200 transition-all ease-in-out max-sm:dark:bg-slate-800 max-sm:dark:backdrop-blur-md dark:opacity-90 md:flex lg:flex md:align-middle md:items-center md:justify-center lg:align-middle lg:items-center lg:justify-center">
                    <ul class="md:flex lg:flex md:flex-row lg:flex-row md:p-0 lg:p-0 md:text-lg lg:text-lg md:gap-6 lg:gap-6">
                        <li class="max-sm:my-2 max-sm:mx-5 text-slate-700 dark:text-slate-300 font-semibold"><a href="#top">home</a></li>
                        <li class="max-sm:my-2 max-sm:mx-5 text-slate-700 dark:text-slate-300 font-semibold"><a href="#aboutme">about</a></li>
                        <li class="max-sm:my-2 max-sm:mx-5 text-slate-700 dark:text-slate-300 font-semibold">project</li>
                        <li class="max-sm:my-2 max-sm:mx-5 text-slate-700 dark:text-slate-300 font-semibold"><a href="#participate">participate</a></li>
                        <li class="max-sm:my-2 max-sm:mx-5 text-slate-700 dark:text-slate-300 font-semibold">contact</li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</head>
<body class="dark:bg-slate-600 max-w-full h-[100rem]">
    <section name="hero" id="hero" class="max-sm:mt-[2rem] md:mt-14 lg:mt-14 animate-munculkan">
        <div class="max-w-full flex flex-wrap justify-center align-middle items-center sm:mx-4 md:mx-36 min-lg:mx-10">
            <div name="typografi" class="block min-lg:w-full md:w-1/2 sm:w-1/2 pl-5 max-sm:order-last">
                <span class="font-semibold text-teal-500 dark:text-teal-200 block mb-2 md:text-2xl min-lg:text-2xl">Hallo perkenalkan 👋, saya</span>
                <span class="sm:text-3xl max-sm:text-3xl font-extrabold text-slate-700 dark:text-teal-200 md:text-6xl min-lg:text-6xl">Fitri Alisia</span>
                <span class="block font-light text-teal-700 dark:text-teal-300 md:text-2xl min-lg:text-2xl">Mahasiswa / Learner</span>
                <span class="block mt-3 max-sm:text-sm italic text-teal-800 dark:text-teal-400 md:text-lg min-lg:text-lg">"Jangan biarkan rasa takut menentukan masa <span class="font-extrabold text-slate-800 dark:text-white">depanmu.</span>"</span>
                <div class="flex flex-row flex-wrap gap-3">
                    <button class="bg-teal-400 px-5 py-2 rounded-full mt-5 text-white hover:bg-teal-500 duration-100 dark:text-teal-800 active:scale-105 max-sm:text-sm">Hubungi saya</button>
                    <button class="bg-transparent ring-1 ring-teal-600 px-5 py-2 rounded-full mt-5 text-teal-800 hover:bg-teal-500 duration-100 dark:text-teal-200 hover:text-white active:scale-105 max-sm:text-sm font-extrabold">Linkedin</button>
                </div>
            </div>
            <div name="avatar" class="min-lg:w-full md:w-1/2 sm:w-1/2 flex justify-center relative align-middle items-center">
                <img src="../gambar-fitri.png" alt="" class="z-10 mx-auto my-auto md:top-8 max-sm:w-[15rem] absolute">
                <svg width="" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="">
                    <path fill="#5eead4" d="M48.5,-58.8C63.9,-55.5,78.3,-42.8,82.6,-27.4C86.9,-11.9,81.1,6.3,75,24.1C68.9,42,62.4,59.5,49.9,70.7C37.3,81.8,18.7,86.5,3.1,82.2C-12.4,77.9,-24.9,64.7,-40.2,54.4C-55.5,44.2,-73.6,37,-83.2,23.3C-92.7,9.6,-93.7,-10.6,-84.8,-24.3C-75.9,-38.1,-57.1,-45.3,-41.3,-48.6C-25.5,-51.8,-12.7,-51,1.9,-53.6C16.5,-56.2,33,-62.2,48.5,-58.8Z" transform="translate(100 100)" />
                  </svg>
            </div>
        </div>
    </section>

    <!-- aboutme section -->
    <span name="aboutme" id="aboutme"></span>
    <p></p>
    <br>
    <section class="flex md:flex-row max-sm:flex-col flex-wrap md:mx-40 sm:mx-4 max-sm:mx-4 max-sm:gap-5 mt-10 md:justify-between lg:justify-between md:gap-y-11">
        <div name="box-1" class="px-5 md:w-1/2 max-sm:w-full flex flex-col" data-aos="fade-up-right">
            <span class="md:text-2xl sm:text-lg mb-2 font-extrabold text-teal-700 dark:text-teal-400">Tentang saya</span>
            <span class="text-sm font-extralight text-teal-900 dark:text-teal-500 md:text-lg lg:text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi deleniti, quam perferendis molestias ex nulla?</span>
        </div>
        <div name="box-2" class="px-5 md:w-1/2 max-sm:w-full flex flex-col" data-aos="fade-up-left">
            <span class="md:text-2xl sm:text-lg mb-2 font-extrabold text-teal-700 dark:text-teal-400">Karir</span>
            <span class="text-sm font-extralight text-teal-900 dark:text-teal-500 md:text-lg lg:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam nobis deserunt fugiat fugit assumenda a ducimus corporis doloribus deleniti!</span>
        </div>
        <div name="box-2" class="px-5 md:w-1/2 max-sm:w-full flex flex-col" data-aos="fade-up-right">
            <span class="md:text-2xl sm:text-lg mb-2 font-extrabold text-teal-700 dark:text-teal-400">Social</span>
            <span class="text-sm font-extralight text-teal-900 dark:text-teal-500 md:text-lg lg:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas?</span>
            <ul class="flex flex-row justify-center text-center mt-5 gap-3 text-2xl text-teal-700">
                <li class="duration-150 hover:text-slate-800 dark:text-teal-500"><i class="fab fa-github"></i></li>
                <li class="duration-150 hover:bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 hover:text-transparent hover:bg-clip-text dark:text-teal-500"><i class="fab fa-instagram-square"></i></li>
                <li class="duration-150 hover:text-blue-700 dark:text-teal-500"><i class="fab fa-facebook-square"></i></li>
                <li class="duration-150 hover:text-slate-950 dark:text-teal-500""><i class="fab fa-tiktok"></i></li>
                <li class="duration-150 hover:text-red-600 dark:text-teal-500""><i class="fab fa-youtube"></i></li>
                <li class="duration-150 hover:text-green-500 dark:text-teal-500""><i class="fab fa-whatsapp-square"></i></li>
            </ul>
        </div>
    </section>

    <!-- my participate section -->
    <section id="participate" class="px-5 py-3 mt-20 mb-80 bg-gray-100 dark:bg-slate-700 overflow-hidden">
        <div class="container max-sm:py-8 md:py-16 md:mx-36 lg:mx-36 p-5">
            <span class="text-2xl font-extrabold mb-5 mt-5">my participate</span>
            <ol class="relative border-l border-gray-200 dark:border-gray-700 mt-5">                  
                <li class="mb-10 ml-6">            
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </span>
                    <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Application UI v2.0.0 <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ml-3">Latest</span></h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on January 13th, 2022</time>
                    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                    <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"><svg class="w-3.5 h-3.5 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
              </svg> Download ZIP</a>
                </li>
                <li class="mb-10 ml-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </span>
                    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Figma v1.3.0</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on December 7th, 2021</time>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
                </li>
                <li class="ml-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </span>
                    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Library v1.2.2</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on December 2nd, 2021</time>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
                </li>
            </ol>
        </div>
    </section>
</body>
<script>
    AOS.init({
        once: true,
    });

    const toggleButton = document.getElementById('toggle');
    const toggleIcon = document.getElementById('switchToggle');
    const hamburgerMenu = document.getElementById('hamburger-menu');
    const span = document.querySelectorAll('span#hamburger-line');
    const mainNavBar = document.getElementById('mainNavBar');
    const navMenu = document.getElementById('navBox');

    toggle.addEventListener('change', function() {
        toggleIcon.classList.toggle('translate-x-5');
        document.documentElement.classList.toggle('dark')
    });

    hamburgerMenu.addEventListener('click', function() {
        span[0].classList.toggle('hamburger-active');
        span[1].classList.toggle('scale-0');
        span[2].classList.toggle('hamburger-active');

        navMenu.classList.toggle('max-sm:translate-x-48');
        
        // document.body.addEventListener('click', function() {
        //     if(span[0].classList.contains('hamburger-active')) {
        //         span[0].classList.toggle('hamburger-active');
        //         span[1].classList.toggle('scale-0');
        //         span[2].classList.toggle('hamburger-active');
        
        //         navMenu.classList.toggle('translate-x-36');                
        //     } else {
        //         false
        //     }
        // })
    })

    window.onscroll = function() {
        if(window.pageYOffset > mainNavBar.offsetTop+100) {
            mainNavBar.classList.add('backdrop-blur-md');
            mainNavBar.classList.add('border-b');
            mainNavBar.classList.add('dark:bg-slate-700');
        } else {
            mainNavBar.classList.remove('backdrop-blur-md');
            mainNavBar.classList.remove('border-b');
            mainNavBar.classList.remove('dark:bg-slate-700');
        }
    }
</script>
</html>